<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="scandit-cordova-datacapture-id-europe-driving-license" version="8.1.0">
    <name>ScanditIdEuropeDrivingLicense</name>
    <engines>
        <engine name="cordova-ios" version=">=5.0.0" />
        <engine name="cordova-android" version=">=10.0.0" />
    </engines>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="ScanditIdEuropeDrivingLicense">
                <param name="ios-package" value="ScanditIdEuropeDrivingLicense" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <header-file src="src/ios/ScanditIdEuropeDrivingLicense-Bridging-Header.h" type="BridgingHeader" />
        <source-file src="src/ios/ScanditIdEuropeDrivingLicense.swift" />
        <podspec>
            <pods use-frameworks="true">
                <pod name="ScanditIdEuropeDrivingLicense" spec="= 8.1.0" />
            </pods>
        </podspec>
    </platform>
    <platform name="android">
        <config-file parent="/*" target="config.xml">
            <feature name="ScanditIdEuropeDrivingLicense">
                <param name="android-package" value="com.scandit.datacapture.cordova.ideuropedrivinglicense.ScanditIdEuropeDrivingLicense" />
            </feature>
        </config-file>
        <source-file src="src/android/ScanditIdEuropeDrivingLicense.kt" target-dir="kotlin/com/scandit/datacapture/cordova/ideuropedrivinglicense" />
        <framework custom="true" src="src/android/build.gradle" type="gradleReference" />
        <hook src="src/hooks/support-kotlin.js" type="after_plugin_install" />
    </platform>
</plugin>